body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   background-color: black;
   overflow: none;
}

* {
    text-decoration: none;
    color: greenyellow;
    font-family: sans-serif;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    }

 header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-row-start: 0; 
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 11;
    z-index: 2;
    background-color: transparent;
 }

 #content {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content:space-evenly;
grid-row-start: 1; 
grid-row-end: 9;
grid-column-start: 2;
grid-column-end: 11;
overflow: scroll;
height:fit-content;
 }

 .store-card {
  position: relative; 
  width: 330px;
  height: 200px;
  background-color: blue;
  overflow: hidden; 
  border-style: solid;
  border-color: greenyellow;
  border-width: 10px;
  margin-top: 30px;
 }

 .store-card p {
   position: absolute; 
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%); 
   font-size: large;
   padding: 2rem;
   text-transform: uppercase;
   font-weight: 600;
   color: white; 
   text-align: center; 
   background-color: transparent;
   margin: 0; 
 }

 nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    grid-row-start: 0; 
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: transparent;
 }

 .main-logo, h1{
    width: fit-content;
    grid-row-start: 1; 
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 9;
    background-color: transparent;
 }

 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    grid-row-start: 0; 
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 9;
    background-color: transparent;
 }

 li {
    width: fit-content;
    padding: 0.7rem;
    list-style-type: none;
    text-decoration: none;
    background-color: transparent;
    font-size: large;
 }

 li:hover {
   width: fit-content;
   list-style-type: none;
   background-color: blue;
   font-size: large;
 }


.video-parent {
   display: flex;
   justify-content: center;
   grid-row-start: 1; 
   grid-row-end: 9;   
   grid-column-start: 1;
   grid-column-end: 11;  
   position: absolute;  
   z-index: 1;
 }
 
 video {
   width: 100vw; 
   height: 100vh; 
   object-fit: cover; 
 }

 #hero-text {
   position: absolute;
   top: 50%; 
   left: 50%; 
   grid-row-start: 0; 
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 11;
   transform: translate(-50%, -50%);
   color: white; 
   text-align: center;
   z-index: 3; 
 }

 .hero-message {
   flex-direction: column;
   padding: 2rem;
 }

 #hero-text {
   justify-content: center;
   background-color: blue;
   border-width: 10px;
 }

 #hero-text, h2 {
   font-size: xx-large;
   margin: 0;
 }

 #hero-text, h1 {
   font-size: xx-large;
   margin: 0;
 }

